* {margin:0;padding:0; outline:none;}

.wrapper {
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width:615px;
    height: 50px;
    margin: 0 auto;

    color: #fff;
    background: linear-gradient(5deg,#005AA7,#FFFDE4);
    padding:1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container {
    width:650px;
    height: 30px;
    margin: 0 auto;
    display:flex;
}

.input-text {
    width: 90%;
    padding: 0.3em;
    /* border: none; */
}

.add-button {
    width: 10%;
    border: none;
    background-color: #28324e;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 30px;
}

.add-button:hover {
    cursor: pointer;
    background:#333;
}

.list {
    list-style: none;
}

.list li {
    display: flex;
    padding: 0.5em;
    border: 1px solid #ccc;
    align-items: center;

    width:630px;
    height: 30px;
    margin: 0 auto;
}

.list .like {
    flex:1;
}

.list .item {
    flex:8;
}

.list .manage {
    flex:1;
    display: flex;
    justify-content: space-between;
}

.like i {
    color:salmon;
    cursor: pointer;
}

.manage .check {
    color:#38ef7d;
    cursor: pointer;
}

.manage .clear {
    color:salmon;
    cursor: pointer;
}

/* js 동작시킬 done 부여 */
.done .item {
    text-decoration: line-through;
}
.done .check {
    visibility: hidden;
}











